/*fonts*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v20-latin-100.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-100.woff') format('woff');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin-500.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-700.woff") format("woff");
}

/*general styles*/
.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #c9f8fe;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

/*main*/
.press-article-box {
  display: flex;
  width: 900px;
  height: 500px;
  margin: 60px auto 0;
  background-color: #ffffff;
}
.box__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url("../img/o-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.box__heading {
  margin: 0;
  font-style: 32px;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffff;
}
.box__text {
  margin: 20px 0 20px;
  font-weight: 500;
  color: #ffffff;
}
.box__mediakit {
  display: inline-flex;
  align-items: center;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(105, 166, 149, 0.8);
  border-radius: 25px;
  transition: background-color 0.3s ease;
}
  .box__mediakit:hover {
    background-color: rgba(105, 166, 149, 1);
  }
  .box__mediakit::before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-image: url("../img/file.svg");
    background-repeat: no-repeat;
    -webkit-background-size: 25px;
    background-size: 25px;
  }
.box__right {
  flex-grow: 1;
  width: 52%;
  padding: 30px;
}
.right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
.right__heading {
  margin: 0;
  font-weight: 500;
}
.right__burger {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.burger-img {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/menu.svg");
}
.years-wrapper {
  overflow-x: scroll;
}
.years-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.years-item {
  margin-right: 35px;
}
.active .years-link {
  color: #000000;
}
.years-link {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: color 0.3s ease;
}
  .years-link:hover {
    color: #000000;
  }
.articles-list {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.articles-item {
  margin-bottom: 15px;
}
.articles-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}
.article-avatar {
  border-radius: 50%;
}
.article-text {
  flex-grow: 1;
  margin-left: 15px;
}
.time-wrapper {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 100;
}
.time-wrapper-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.time-month {
  font-weight: 700;
}